.recalculating {
    opacity:unset;
}

.nav-tabs>li>a{
    border-width:2px;
    border-color:#ddd;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #555555;
    background-color: #ffffff;
    border: 2px solid #999;
    border-bottom-color: transparent;
    cursor: default;
}

#ggvis-tooltip{
    background-color: #798d8f;
    box-shadow: none;
    border: none;
    opacity: 1;
}

h2 {
    color: #ecf0f1;
}

#ggvis-tooltip a:link{
    color: #ecf0f1;
}
#ggvis-tooltip a:visited{
    color: #ecf0f1;
}

.selectize-input.items.full.has-options.has-items{
    border-color:#dce4ec;
    border-style:solid;
    border-width:2px;
    height:43px;
}


/*.form-control.shiny-bound-input{
    background-color: #798d8f;
    color:#ecf0f1;
    box-shadow: none;
    border: none;
} */


 .selectize-dropdown{
    border-color:#dce4ec;
    border-style:solid;
    box-shadow: none;
}

#tree-search-input{
    box-shadow: none;
    border-color:#dce4ec;
    border-style:solid;
    border-radius: 3px;
    height:43px;

}

body{
    background-color: #798d8f;
}

#expressionPlot{
    background-color: #ecf0f1;
    border-radius: 5px;
}

#difPlot{
    background-color: #ecf0f1;
    border-radius: 5px;
}

.jstree-anchor>.jstree-themeicon{
    margin-right: -14px;
} 

.jstree-default .jstree-themeicon{
    background-position: -260px 118px;
} 

#logo{
    vertical-align: bottom;
}
